@import "../../styles/globals.module.scss";


.home_container {
    margin-top: 45px;
    height: 300px;

    & div:nth-child(1) {
        flex-grow: 3;
        background-color: rgba(122, 122, 125, 0.233);
    }

    & div:nth-child(2) {
        flex-grow: 2;
        background-color: rgba(60, 59, 61, 0.326);
    }
}