$ff: "";

.main_container {
    background-color: #033261;
    color: #fff;
    padding: 20px;
    flex: 1;

    & .intro_heading .one {
        font-family: Ubuntu;
        font-size: 60px;
        font-weight: 700;
    }

    & .intro_heading .two {
        font-family: Saira Stencil One;
        font-size: 40px;
        font-weight: 400;
    }

    & .sub_container {
        justify-content: space-evenly;
        flex: 1;
        flex-wrap: wrap-reverse;
        max-width: 1555px;
    }

    & .left_container {
        // background-color: red;
        display: flex;
        justify-content: center;
        flex: 1;
        position: relative;
    }

    & .sub_wrpr {}

    & .left_sub_container {
        display: flex;
        background-color: rgba(0, 0, 0, 0.24);
        min-height: 400px;
        align-items: center;
        border-radius: 130px;
        padding: 40px;
        animation-name: fadein;
        animation-duration: 5s;
        // width: 500px;


    }

    & .eclipse_shape {
        position: absolute;
        display: none;
        top: -116px;
        left: 500px;
        width: 400px;
        height: 100%;
        animation-name: fadein;
        animation-duration: 5s;
    }

    & .right_container {
        position: relative;
        height: 100%;
        padding: 40px;
        animation-name: fadein;
        animation-duration: 5s;
    }

    & .avatar {
        border-radius: 238px;
        overflow: hidden;
        box-shadow: 4px 4px 10px #0e95e0;
    }

    & .since_badge {
        // position: absolute;
        // top: 250px;
    }

    & .dotshape {
        display: none;
        height: 150px;
        width: 150px;
        background-color: #E50E76;
        border-radius: 100px;
        position: absolute;
        top: -75px;
        box-shadow: 0px 11px 16px rgba(255, 255, 255, 0.31);
    }

}

.learn_more_btn {
    color: #FFFFFF;
    font-family: Familjen Grotesk;
    font-size: 28px;
    font-weight: 700;
    justify-content: center;
    height: 200px;
}

.learn_more_btn div {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 50.52%, rgba(0, 10, 255, 0.198) 100%);
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    width: 269px;
    height: 87px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media only screen and(min-width:1525px) {

    .dotshape,
    .eclipse_shape {
        display: block !important;
    }

    .left_container {
        padding-left: 200px !important;
        justify-content: flex-start !important;
    }
}

@media only screen and(min-width:921px) {
    .learn_more_btn {
        justify-content: flex-start;
        margin-left: 100px;
    }
}