@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

$fFG: Familjen Grotesk;
$fUbnt: Ubuntu;





$f12: 12px;
$f22: 22px;
$f42: 42px;
$f24: 24px;


$fw700: 700;
$fw400: 400;
$fw500: 500;


$colFF8A: #FF8A00;
$col0040: #00000040;
$col00CC: #000000CC;
$col175E: #1717175E;