@import "../../styles/globals.module.scss";

.about_container {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 30px 10px;
  background-image: url("../../public/images/aboutbackground.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;

  .bigtext {
    font-size: calc(0.15vw + 32px);
  }

  .downloadcvbtn_wrpr {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    cursor: pointer;
  }

  .downloadcvbtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #fff;
    box-shadow: 0px 4px 4px 1px #ffffff40;
    border-radius: 65px;
    height: 50px;
    width: 210px;
    background: #0606068f;
    font-family: Ubuntu;
    font-size: calc(0.15vw + 18px);
    font-weight: 700;
  }

  .left_container {
    width: calc(1vw + 500px);
    text-align: center;
  }

  .right_container {
    width: calc(4vw + 500px);
    height: 100%;
  }

  .aboutme_header {
    font-family: $fUbnt;
    font-size: calc(28px + 0.15vw);
    font-weight: $fw500;
    color: $colFF8A;
  }

  .aboutme_txt {
    font-family: $fUbnt;
    font-size: calc(18px + 0.3vw);
    font-weight: $fw400;
    color: $colFF8A;
    color: #fff;
  }

  .aboutme_block {
    background-color: $col175E;
    border: solid 1px $col00CC;
    text-align: left;
    // height: 550px;
    border-radius: 35px;
    box-shadow: 0px 4px 4px 0px $col0040;
    padding: calc(25px + 0.15vw);
  }

  .image_holder {
    border-radius: 250px;
    overflow: hidden;
    text-align: center;
  }
}

@media only screen and (max-width: 1073px) {
  .about_container {
    background-image: none;
    // animation-name: shuffle;
    // animation-duration: 4s;
  }
}

@media only screen and (min-width: 2560px) {
  .about_container {
    background-position-y: -425px;
    background-size: cover;
  }
}

@keyframes shuffle {
  from {
    transform: rotate(280deg);
  }
  to {
    transform: rotate(0deg);
  }
}
